.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.mask-fade-right {
  -webkit-mask-image: linear-gradient(to right, black calc(100% - 100px), transparent 100%);
  mask-image: linear-gradient(to right, black calc(100% - 100px), transparent 100%);
}
